#container {height: 770px; width:1300px; font-size: 0;}
#map, #barchart, #piechart, #charts {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#map {height: 724px; width: 612px;}
#charts {height: 724px; width: 612px;}
#barchart {height: 362px; width: 612px;}
#piechart {height: 362px; width: 612px;}
